@font-face {
    font-family: VinaSans;
    src: url('../assets/fonts/vina-sans/VinaSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: BrunoAce;
    src: url('../assets/fonts/BrunoAce/BrunoAce-Regular.ttf') format('truetype');
}